:root {
  --pink-color: #ffa2a2;
  --blue-color: #4a86e8;
  padding: none;
  margin: none;
}

.pink {
  background-color: var(--pink-color);
}

.blue {
  background-color: var(--blue-color);
}

.white {
  background-color: White;
}

.center {
  align-items: center;
  justify-content: center;
}

.container-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

.container-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

.container-whole {
  display: flex;
  flex: 1;
}

.container-half {
  display: flex;
  flex: 0.5;
}

.container-third {
  display: flex;
  flex: 0.33333333;
}

button {
  background-color: White;
  border: none;
}

button:hover {
  background-color:
}

.text {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 75px;
}

.main {
  background-color: var(--blue-color);
  border-radius: 10px;
  width: 50%;
}

.header {
  text-align: center;
}

.headerbuttons {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  flex-direction: row;
}

.chatbox {
  border-radius: 10px;
  background-color: white;
  height: 85vh;
  width: 85vw;
  padding-left: 15px;
  padding-top: 8px;
}

.chatheader {
  font-weight: bold;
  font-size: 32px;
}
