:root {
  --pink-color: #ffa2a2;
  --blue-color: #4a86e8;
  --blue-hover-color: #4a6ae8;
}

#root {
  height: 100vh;
  display: flex;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  height: 100vh;
}

.pink {
  background-color: var(--pink-color);
}

.pink-text {
  color: var(--pink-color);
}

.blue {
  background-color: var(--blue-color);
}

.blue-text {
  color: var(--blue-color);
}

.white {
  background-color: White;
}

.white-text {
  color: White;
}

.center {
  align-items: center;
  justify-content: center;
}

.container-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100vw;
}

.container-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.container-whole {
  display: flex;
  flex: 1;
}

.container-half {
  display: flex;
  flex: 0.5;
}

.container-third {
  display: flex;
  flex: 0.33333333;
}

.container-fourth {
  display: flex;
  flex: 0.25;
}

.container-sixth {
  display: flex;
}

.above {
  z-index: 1;
}

button {
  background-color: White;
  border: none;
}

button:hover {
  background-color: var(--blue-hover-color);
}

.max-height: {
  height: 100% !important;
}

.max-width: {
  width: 100% !important;
}

.big-button {
  width: 100px;
  height: 50px;
}

.rounded {
  border-radius: 45px;
}

.login-gradient {
  background: rgb(180,58,58);
background: linear-gradient(256deg, rgba(180,58,58,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.text {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 75px;
}

.motivation-text {
  font-size: min(5vw, 50px);
}

.main {
  background-color: var(--blue-color);
  border-radius: 10px;
  width: 50%;
}

.chatbody {
  height: 100vh;
  width: 100vw;
}

.header {
  text-align: center;
}

.headerbuttons {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  flex-direction: row;
}

.chatbox {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
  height: 85vh;
  width: 85vw;
  padding-left: 15px;
  padding-top: 8px;
}

.chatheader {
  font-weight: bold;
  font-size: 32px;
}

.chatstuff {
  flex-direction: row;
  display: flex;
}
