:root {
  --pink-color: #ffa2a2;
  --blue-color: #4a86e8;
  --blue-hover-color: #4a6ae8;
}

#root {
  height: 100vh;
  display: flex;
}

html {
  height: 100vh;
  overflow: hidden;
  background-color: Black;
}

body {
  height: 100vh;
}

.pink {
  background-color: var(--pink-color);
}

.pink-text {
  color: var(--pink-color);
}

.blue {
  background-color: var(--blue-color);
}

.blue-hover {
  background-color: var(--blue-hover-color);
}

.blue-text {
  color: var(--blue-color);
}

.white {
  background-color: White;
}

.white-text {
  color: White;
}

.center {
  align-items: center;
  justify-content: center;
}

.container-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.container-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.container-whole {
  display: flex;
  flex: 1;
}

.container-half {
  display: flex;
  flex: 0.5;
}

.container-third {
  display: flex;
  flex: 0.33333333;
}

.container-fourth {
  display: flex;
  flex: 0.25;
}

.container-sixth {
  display: flex;
}

.above {
  z-index: 1;
}

button {
  background-color: White;
  border: none;
}

button:hover {
  background-color: var(--blue-hover-color);
}

.max-height: {
  height: 100% !important;
}

.max-width: {
  width: 100% !important;
}

.big-button {
  width: 100px;
  height: 50px;
}

.friend-button {
  flex: 1;
  max-height: 6vh;
  width: 90%;
  text-align: center;
  margin: 10px 10px 5px 10px;
  border-radius: 6px;
}

.rounded {
  border-radius: 45px;
}

.login-gradient {
  background: rgb(180,58,58);
  background: linear-gradient(256deg, rgba(180,58,58,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background: radial-gradient(circle at 120% 120%, #6ac1cc, #61c2d8, #5bc2e4, #5cc1f0, #64c0fa, #74beff, #88baff, #9fb5ff, #b8b0ff, #d1a9ff, #e9a1ff, #ff99f3);
}

.friends-gradient {
  background: radial-gradient(circle at 50% -20%, #6ac1cc, #61c2d8, #5bc2e4, #5cc1f0, #64c0fa, #74beff, #88baff, #9fb5ff, #b8b0ff, #d1a9ff, #e9a1ff, #ff99f3);
}

.text {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 75px;
}

.hold {
  max-height: min(100%,830px);
  min-height: 830px;
}

.motivation-text {
  font-size: min(5vw, 50px);
}

.message-box {
  width: 100%;
  height: 110%;
  border-style: solid;
  border-color: var(--blue-hover-color);
  border-radius: 4px;
  background-color: var(--blue-color);
}

.s-grad {
  max-width: 20px;
  background: linear-gradient(180deg, #00cc07, #1fd100, #48d500, #71da00, #9ddf00, #cae300, #e8d600, #ecaf00, #f18600, #f65b00, #fa2e00, #ff0000);
}
