:root {
  --pink-color: #ffa2a2;
  --blue-color: #4a86e8;
  --blue-hover-color: #4a6ae8;
}

#root {
  height: 100vh;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  height: 100vh;
}

.pink {
  background-color: var(--pink-color);
}

.pink-text {
  color: var(--pink-color);
}

.blue {
  background-color: var(--blue-color);
}

.blue-text {
  color: var(--blue-color);
}

.white {
  background-color: White;
}

.white-text {
  color: White;
}

.center {
  align-items: center;
  justify-content: center;
}

.container-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100vw;
}

.container-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.container-whole {
  display: flex;
  flex: 1;
}

.container-half {
  display: flex;
  flex: 0.5;
}

.container-third {
  display: flex;
  flex: 0.33333333;
}

.container-fourth {
  display: flex;
  flex: 0.25;
}

.container-sixth {
  display: flex;
}

.above {
  z-index: 1;
}

button {
  background-color: White;
  border: none;
}

button:hover {
  background-color: var(--blue-hover-color);
}
